* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    align-items: center;
    height: 30px;
    padding: 30px;
    color: #333333;
}
.nav-item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60px;
    color: #333333;
    width: 50%;  
    font-size: 14px;
    line-height: 53px;
    letter-spacing: normal;
    text-align:
}

.hero {
    background-image: url(image/photo-1443527216320-7e744084f5a7-1.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-attachment: fixed;

}

.overlay {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.3);

}

#hero-title {
    color: white;
    font-size: 60px;
    line-height: 64px;
    text-align: center;
    letter-spacing: normal;
    font-style: initial;
}

#hero-text {
    color: white;
}

.btn-blue {
    background-color: #5645C9;
    color: white;
    border: none;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
    line-height: 24px;
    padding: 10px 30px;
}
.btn-white {
    padding: 10px 30px;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border-color: aliceblue;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
    line-height: 24px;

}
.logo{
    color: #333333;
    font-size: 1.5rem;
}
.small-image {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: auto;
    margin-top: 42px;
    gap: 10px;

}
.image-text {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 14;
    line-height: 24px;
    text-align: start;

}
.macbook {
    display: flex;
    flex-direction: column;
    width: 90%;



}
.third-image {
    background-image: url(./image/Third\ picture.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
}
.overlay-third-image {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    
}
.third-image-button {
    background-color: #6D59DB;
    color: white;
    padding: 10px 30px;
    border: none;
}

.image-button {
    background-color: #5D47D7;
    color: white;
    padding: 20px 20%;
    border: none;
}
.image-text {
    width: 40%;
    display: flex;
    padding-top: 0%;
    padding-right: 20px;
    flex-direction: column;
}
.image-text h3 {
    font-size: 1.5rem;
    font-weight: bolder;

}
.image-text p {
    color: #333333;
}

.portfolio-sec {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    margin-top: 42px;
    gap: 10px;
    font-size: 14px;
    line-height: 24px;
    text-align: start;
    letter-spacing: normal;


}
.h3 {
    width: 50%;

}
.portfolio-text {
    justify-content: space-between;
    text-align: start;
    line-height: 24px;
    font-size: 14px;


}
.portfolio-sec-but {
    color: white;
    background-color: #5D47D7;
    border: none;
    text-align: center;
    letter-spacing: 1;
    font-size: 14px;
    padding: 20px 10px;

}